.jumbo_outer{
    background-color: var(--CCBlue);
    //min-height: 100vh;
}

.jumbo_inner{
    margin: 0;
    width: 86%;
    max-width: var(--maxContentWidth);
    margin: auto;
    overflow-wrap: break-word;
    color: var(--CCBlueLight);
}

h2{
    display:contents;
}