.jumbo_outer{
    height: 100vh;
    background-color: var(--CCBlue);
}
.jumbo_inner{
    position: relative;
    justify-content: center;
}
.jumbo_content{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    }
.title-jumbo{
    min-width: 40%;
    color: var(--CCBlueLight);
    overflow-wrap: break-word;
}

.title-jumbo h2{
    margin: 0;
    //display:contents;
}

.subjumboElements{
    padding-bottom: 20px;
}

.team-icon{
    height: 65px;
}