:root{
    --primaryColor:#000000;
    --secondaryColor:#cdc3ff;
    --CCRed: #cc1133;
    --CCBlue: #00002c;
    --CCBlueLight: #1a1259;
    --CCBlueTint: #ccccee;
    --CCRedTint: #fff3f3;
    --primaryFont: 'Archivo', sans-serif;
    --secondaryFont: 'BioRhyme', serif;
    --tertiaryFont: 'BioRhyme Expanded', serif;
  }

  @import "./styles/_navBar.scss";
  @import "./styles/_home_slide.scss";

  body{
    font-family: var(--primaryFont);
    margin: 0px;
    overflow: auto;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }

  .sub-heading {
    font-size: 1.618rem;
    font-weight: 600;
  }
  
  .heading {
    font-size: 2.618rem;
    font-weight: 400;
  }
  
  .large-heading {
    font-size: 4.236rem;
    font-weight: 500;
    font-family: var(--tertiaryFont);
  }
  
  .footnote {
    font-size: 0.618rem;
    font-weight: 500;
  }

  h2, h3{
    margin: 0;
    line-height: 1em;
  }
  


  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Text selection color */
  ::-moz-selection { /* Code for Firefox */
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }
  ::selection {
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }

  // .landingPage_wrapper{  }