:root{
    --primaryColor:#000000;
    --secondaryColor:#cdc3ff;
    --accentColor: #820199;
    --lightAccentColor: hsl(291, 48%, 70%);
    --secondaryAccentColor: #990000;
    --highlightColor: #820199;
    --textSelectionColor: #ffffff;
    --primaryFont: 'Nunito', sans-serif;
    --secondaryFont: 'Poiret One', cursive;
    --tertiaryFont: 'Poiret One', cursive;
  }

  @import "./styles/_navBar.scss";

  body{
    font-family: var(--primaryFont) !important;
    background: var(--mainDark) !important;
    margin: 0px;
    overflow: auto;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Text selection color */
  ::-moz-selection { /* Code for Firefox */
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }
  ::selection {
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }

  h3{
    background-color: red;
  }