:root{
    --primaryColor:#000000;
    --secondaryColor:#cdc3ff;
    --CCRed: #cc1133;
    --CCBlue: #00002c;
    --CCBlueLight: #1a1259;
    --CCBlueTint: #ccccee;
    --CCRedTint: #fff3f3;
    --primaryFont: 'Archivo', sans-serif;
    --secondaryFont: 'BioRhyme', serif;
    --tertiaryFont: 'BioRhyme Expanded', serif;
    --maxContentWidth: 1135px;
  }

  @import "./styles/_navBar.scss";
  @import "./styles/_home_slide.scss";
  @import "./styles/_landingPage.scss";

  body{
    font-family: var(--primaryFont);
    margin: 0px;
    overflow: auto;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }

  .sub-heading {
    font-size: 1.618rem;
    font-weight: 600;
  }
  
  .heading {
    font-size: 2.618rem;
    font-weight: 400;
  }
  
  .large-heading {
    font-size: 4.236rem;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--tertiaryFont);
  }
  
  .navbar_font{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--secondaryFont);
  }
  .footnote {
    font-size: 0.618rem;
    font-weight: 500;
  }

  .global_outer_area{
    margin: 0;
  }
  .global_inner_area{
    margin: 0;
    width: 86%;
    max-width: var(--maxContentWidth);
  }
  


  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Text selection color */
  ::-moz-selection { /* Code for Firefox */
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }
  ::selection {
    color: var(--textSelectionColor);
    background: var(--highlightColor);
  }